.home-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(var(--min-flex) * 52));
    width: 100%;
    gap: 1.2rem;
    padding: 2rem;
}

.title {
    font-weight: 500;
}

.thumbnail {
    height: calc(var(--min-flex) * 29);
    width: calc(var(--min-flex) * 52);
}

.logo {
    height: calc(var(--min-flex) * 6);
    width: calc(var(--min-flex) * 6);
    border-radius: 2rem;
}

.bar,
.footer {
    display: flex;
    margin: 3px;
    gap: 10px;
}

.footer,
.channel-name {
    font-size: 0.9rem;
    color: black;
    font-weight: bold;
    margin-left: calc(var(--min-flex)*8);
}


.playlist-overlay {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* left: 0; */
    /* right: ; */
    background-color: var(--theme-colour-3-alpha);
    height: calc(var(--min-flex) * 29);
    width: calc(var(--min-flex) * 26);
}

.fa-list {
    color: white;
    background-color: black;
    border: 5px solid black;
    border-radius: 5rem;
    padding: 0.8rem;
    opacity: 1;
    font-size: 2rem;
}

.video-click {
    z-index: 10;
}

.channel {
    display: none;
}