@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.player-parent {
    max-width: calc(var(--min-flex) * 128);
}

.details {
    font-size: large;
}

.title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0.4rem 0;
}

.bar {
    display: flexbox;
}


.player {
    font-family: "Roboto Flex", serif;
    width: calc(var(--min-flex) * 128);
    height: calc(var(--min-flex) * 72);
    margin: 2em 0 1em;
}

.name {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    background: #8d9cb1;
    border: 1px solid darkslategrey;
    border-radius: 25px;
    padding: 0.5rem;
}

.upload-duration {
    float: right;
    font-weight: 800;
    margin: 0 1rem;
}

hr {
    border-top: 3px solid #ee6c4d;
    margin: 1rem 0;
}

pre {
    width: calc(var(--min-flex) * 128);
    word-wrap: break-word;
    white-space: pre-wrap
}