html {
    --min-flex: min(1vh, 1vw);
    font-size: 20px;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1.75fr 8fr;
}

.content {
    display: grid;
    justify-items: center;
    grid-template-rows: 9fr 1fr;
}


/* Search */

#search-bar {
    display: block;
    padding: 0.625rem;
    border-radius: 0.5rem;
    border: 1px solid #D1D5DB;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
    background-color: #F9FAFB;
}

.submit-btn {
    width: calc(var(--min-flex)*7);
    margin: 0 0.7rem;
    padding: 0.625rem;
    border-radius: 0.5rem;
    border: 1x solid #1f2937;
    color: #ffffff;
    background-color: #1f2937;
}

.submit-btn:hover {
    background-color: black;
}

.search-form {
    display: flex;
    align-items: center;
    width: calc(var(--min-flex)*60);
}

.fa-gear {
    font-size: 1.5rem;
    line-height: 2rem; 
    color: #ffffff; 
}