{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="../static/css/home.css">
{% endblock head %}


{% block content %}
<div class="home-wrap">
    <div class="video">
        <img src="https://i.ytimg.com/vi/kYJt5kWNsbM/mqdefault.jpg" alt="" class="thumbnail">
        <div class="bar">
            <img src="https://yt3.ggpht.com/ytc/AIdro_nSatGjGLZG1_O1ztYxuKvRazCbk9A0kPhtt2NxEH4ZKfA=s68-c-k-c0x00ffffff-no-rj" alt="" class="logo">
            <h1 class="title">The quick little brown fox jumps over the lazy dog...</h1>
        </div>
        <h2 class="channel-name">Veritiasm</h2>
        <div class="footer">
            <h2 class="views">4.2M views</h2>
            <h2 class="upload-duration"> ·10 days ago</h2>
        </div>
    </div>    <div class="video">
        <img src="https://i.ytimg.com/vi/kYJt5kWNsbM/mqdefault.jpg" alt="" class="thumbnail">
        <div class="bar">
            <img src="https://yt3.ggpht.com/ytc/AIdro_nSatGjGLZG1_O1ztYxuKvRazCbk9A0kPhtt2NxEH4ZKfA=s68-c-k-c0x00ffffff-no-rj" alt="" class="logo">
            <h1 class="title">The quick little brown fox jumps over the lazy dog...</h1>
        </div>
        <h2 class="channel-name">Veritiasm</h2>
        <div class="footer">
            <h2 class="views">4.2M views</h2>
            <h2 class="upload-duration"> ·10 days ago</h2>
        </div>
    </div>    <div class="video">
        <img src="https://i.ytimg.com/vi/kYJt5kWNsbM/mqdefault.jpg" alt="" class="thumbnail">
        <div class="bar">
            <img src="https://yt3.ggpht.com/ytc/AIdro_nSatGjGLZG1_O1ztYxuKvRazCbk9A0kPhtt2NxEH4ZKfA=s68-c-k-c0x00ffffff-no-rj" alt="" class="logo">
            <h1 class="title">The quick little brown fox jumps over the lazy dog...</h1>
        </div>
        <h2 class="channel-name">Veritiasm</h2>
        <div class="footer">
            <h2 class="views">4.2M views</h2>
            <h2 class="upload-duration"> ·10 days ago</h2>
        </div>
    </div>    <div class="video">
        <img src="https://i.ytimg.com/vi/kYJt5kWNsbM/mqdefault.jpg" alt="" class="thumbnail">
        <div class="bar">
            <img src="https://yt3.ggpht.com/ytc/AIdro_nSatGjGLZG1_O1ztYxuKvRazCbk9A0kPhtt2NxEH4ZKfA=s68-c-k-c0x00ffffff-no-rj" alt="" class="logo">
            <h1 class="title">The quick little brown fox jumps over the lazy dog...</h1>
        </div>
        <h2 class="channel-name">Veritiasm</h2>
        <div class="footer">
            <h2 class="views">4.2M views</h2>
            <h2 class="upload-duration"> ·10 days ago</h2>
        </div>
    </div>
</div>
{% endblock content %}