{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="../static/css/player.css">
{% endblock head %}
{% block content %}

<div class="player-parent">
  <iframe class="player" src="https://www.youtube.com/embed/{{search_tag}}{{id}}" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
  <!-- <iframe class="player" type="text/html" src="http://www.youtube.com/embed/{{id}}" frameborder="0"
    allowfullscreen></iframe> -->

<!-- <iframe src="https://www.youtube.com/embed/videoseries?list={{id}}" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
  <iframe class="player" type="text/html" src="http://www.youtube.com/embed/{{id}}" frameborder="0"
    allowfullscreen></iframe> -->

  <div class="details">
    <h1 class="title">{{ video.title }}</h1>
    <div class="bar">
      <button><span class="name">{{ video.channel_name }}</span></button>
      <span class="upload-duration">·{{ video.upload_duration }}</span>
    </div>
    <hr>
    <div class="description">
      <span>{{ video.views }}</span>
      <span>{{ video.upload_time }}</span>
      <pre class="description-text">{{ video.description }}</pre>
    </div>
  </div>
</div>

{% endblock content %}