{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="../static/css/player.css">
{% endblock head %}
{% block content %}

<div class="player-parent">
  {% if playlist %}
  <iframe class="player" type="text/html"
    src="https://www.youtube.com/embed/?listType=playlist&list=PLZHQObOWTQDNU6R1_67000Dx_ZCJB-3pi"
    frameborder="0"></iframe>

  {% else %}
  <iframe class="player" type="text/html"
  src="http://www.youtube.com/embed/{{video_id}}" frameborder="0"></iframe>
  {% endif %}

  <div class="details">
    <h1 class="title">{{ video.title }}</h1>
    <div class="bar">
      <button><span class="name">{{ video.channel_name }}</span></button>
      <span class="upload-duration">·{{ video.upload_duration }}</span>
    </div>
    <hr>
    <div class="description">
      <span>{{ video.views }}</span>
      <span>{{ video.upload_time }}</span>
      <span>
        <pre>{{ video.description }}</pre>
      </span>
    </div>
  </div>
</div>

{% endblock content %}